<head>
    <meta charset="utf-8" />
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-store, max-age=0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="theme-color" content="#ffffff" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <!-- <link rel="manifest" href="/public/manifest.json"> -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <title>
        <%= typeof title !=='undefined' ? title : 'default' %>
    </title>
    <% const gFonts=[ 'Roboto' , 'Oxygen' , 'Ubuntu' , 'Cantarell' , 'Fira Sans' ]; %>
        <% gFonts.forEach(gFont=> {
            %>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=<%= gFont %>">
            <% }); %>
                <script src="https://telegram.org/js/telegram-web-app.js"></script>

                <style>
                    body {
                        color: var(--tg-theme-text-color);
                        background: var(--tg-theme-bg-color);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        font-size: 18px;
                    }

                    .hint {
                        color: var(--tg-theme-hint-color);
                    }

                    .link {
                        color: var(--tg-theme-link-color);
                    }

                    .button {
                        background: var(--tg-theme-button-color);
                        color: var(--tg-theme-button-text-color);
                        border: none;
                        font-size: 18px;
                    }

                    .button:not(:last-child) {
                        margin-bottom: 20px
                    }

                    #usercard {
                        text-align: center;
                    }
                </style>


</head>